*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFAF00;
}
.article {
height: 100vh; 
max-width: 600px;
padding: 40px 0px 0px 40px;
}
.article h1 {
    color: #FBF0D2;
    padding: 0px 0px 40px 00px;
    font-size: 50px;
    line-height: 50px;
}
.article p {
    color: #FBF0D2;
    font-size: 20px;
}
a,
a:visited {
    color: inherit;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
}
@font-face {
    font-family: 'Claudia Shouter Trial';
    src: url('assets/ClaudiaShouterTrial-Black.woff2') format('woff2'),
        url('assets/ClaudiaShouterTrial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
    
@font-face {
    font-family: 'Matter SQ TRIAL';
    src: url('assets/MatterSQTRIAL-Bold.woff2') format('woff2'),
        url('assets/MatterSQTRIAL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
h1{
    font-family: 'Claudia Shouter Trial';
    font-style: normal;
    font-weight: 900;
}
p{
    font-family: 'Matter SQ TRIAL';
    font-style: normal;
    font-weight: bold;  
}

.text h1{
    font-size: 270px;
    line-height: 210px;
    position: fixed;
    width: 896px;
    height: 715px;
    padding: 60px 0px 0px 40px; 
    color: #FBF0D2;
}
.wrap {
    height: 15px;
    margin: 100px;
    display: flex;
    font-family: 'Matter SQ TRIAL';
    font-style: normal;
    font-weight: bold; 
  }
.child {
    border: 5px solid #FBF0D2;;
    width: 440px;
    height: 100vh;
    position: relative;
    right: -70%;
    padding: 10px;
  }
  .child h1{
      font-size: 50px;
      line-height: 50px;
      padding-bottom: 10px;
      color: #FBF0D2;
  }
  .child p{
      font-size: 20px;
      color: #FBF0D2;
  }
.layout {
    display: flex;
}


        
        